<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Callcenter Form</title>
    <link rel="stylesheet" href="../stylesheets/css/photon.min.css">
    <script src="../call/form.js"></script>
</head>
<body>
  <div class="window">
    <header class="toolbar toolbar-header">
      <h1 class="title">Phone Number:</h1>
    </header>

  <div class="tab-group">
    <div class="tab-item">
      <span class="icon icon-cancel icon-close-tab"></span>
    </div>
    <div class="tab-item active">
      <span class="icon icon-cancel icon-close-tab"></span>
      Tab active
    </div>
    <div class="tab-item">
      <span class="icon icon-cancel icon-close-tab"></span>
      Tab
    </div>
    <div class="tab-item tab-item-fixed">
      <span class="icon icon-plus"></span>
    </div>
  </div>
</div>
</body>
</html>
