<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Callcenter Form</title>
    <link rel="stylesheet" href="../stylesheets/css/photon.min.css">
    <script src="../call/form.js"></script>
    <script>
    function tab_group_click(data_id){
      console.log("click .tab_group");
      console.log("data_id : " + data_id);
      if (data_id != null && data_id != 'undefined'){
        $('.tab_group').removeClass('active');
        $('div[class*="tab_div_"]').hide();
        $('div[data-id="'+data_id+'"]').addClass('active');
        $('.tab_div_' + data_id).show();
      }
    }

    function close_tab(data_id){
      console.log("data id:" + data_id);
    }
    </script>
</head>
<body>
    <header class="toolbar toolbar-header" style="text-align:center;">
      <span class="phone_number" style="font-weight:bold;"></span>
    </header>

  <div class="tab-group">
    <div class="tab-item tab_group active" onclick="tab_group_click(1)" data-id="1">
      <span class="icon icon-cancel icon-close-tab"></span> Form
    </div>
    <div class="tab-item tab-item-fixed">
      <span class="icon icon-plus"></span>
    </div>
  </div>

  <div class="tab_div_1"></div>
</body>
</html>
